body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: normal;
}
h1, h1 + p {
    color: #000000;
    margin-left: 14%;
    max-width: 630px;
    letter-spacing: -0.025em;
}
h1 {
    font-size: 72px;
    margin-top: 0;
    margin-bottom: 25px;
}
h1 + p {
    font-size: 30px;
    line-height: 1.5;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    max-width: 550px;
    margin-left: 42px;
}
p {
    font-size: 36px;
    letter-spacing: -0.025em;
    margin: 0;
}
a {
    display: block;
    font-size: 18px;
    letter-spacing: 3.6px;
    text-decoration: none;
    border-radius: 28px;
    color: #f9f9f9;
    border: 2px solid #e2e3e3;
    text-transform: uppercase;
    -webkit-transition: color 0.2s, background-color 0.2s;
    transition: color 0.2s, background-color 0.2s;
}
a:hover {
    color: #000000;
    background-color: #e2e3e3;
}
.grid {
    display: grid;
    grid-template-areas: "a a a a"
                         "a a a a"
                         "b b c c"
                         "d e f g"
                         "h h j i"
                         "k k l l";
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-item {
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-item-main {
    background-image: url(../img/bg-main.png);
    grid-area: a;
    padding: 267px 15px 342px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-position-x: 80%;
}
.grid-item-red {
    background-image: url(../img/bg-red.png);
    height: 500px;
    grid-area: b;
    background-position-x: 75%;
}
.grid-item-lgray {
    background-color: #f3f1ef;
    color: #666666;
    grid-area: c;
    padding: 88px 15px 115px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.grid-item-pic1 {
    background-image: url(../img/bg-one.png);
    grid-area: d;
    background-position: center 99%;
}
.grid-item-pic2 {
    background-image: url(../img/bg-two.png);
    grid-area: e;
    background-position-x: 27%;
}
.grid-item-pic3 {
    background-image: url(../img/bg-three.png);
    grid-area: f;
    background-position-x: 99%;
}
.grid-item-pic4 {
    background-image: url(../img/bg-four.png);
    grid-area: g;
    background-position: right bottom;
}
.grid-item-pic1,
.grid-item-pic2,
.grid-item-pic3,
.grid-item-pic4 {
    height: 515px;
}
.grid-item-blue-text {
    grid-area: h;
}
.grid-item-pic5 {
    background-image: url(../img/bg-five.png);
    grid-area: j;
}
.grid-item-bluebg {
    grid-area: i;
}
.grid-item-blue {
    background-color: #3f729b;
    color: #f9f9f9;
    padding: 98px 15px 101px;
}
.grid-item-green {
    background-color: #2ebd59;
    color: #f9f9f9;
    grid-area: k;
}
.grid-item-gray {
    background-color: #282b2f;
    color: #f9f9f9;
    grid-area: l;
}
.grid-item-green,
.grid-item-gray {
    padding: 112px 15px 146px;
}
.grid-item-blue a {
    padding: 17px 24px 15px 31px;
    margin-top: 33px;
    width: 262px;
}
.grid-item-green a {
    padding: 16px 22px;
    letter-spacing: 3.2px;
    margin-top: 35px;
    width: 255px;
}
.grid-item-gray a {
    padding: 16px 21px 14px 30px;
    margin-top: 38px;
    margin-left: 43px;
    width: 228px;
}
.grid-item-blue a,
.grid-item-green a {
    margin-left: calc(100% - 575.5px);
}
.grid-item-lgray p,
.grid-item-gray p {
    max-width: 550px;
    margin-top: 28px;
    margin-left: 40px;
}
.grid-item-blue h2,
.grid-item-green h2 {
    margin-left: calc(100% - 573.5px);
}
.grid-item-blue p,
.grid-item-green p {
    max-width: 518px;
    margin-top: 28px;
    margin-left: calc(100% - 575.5px);
}
@media screen and (max-width: 1307px) {
    .grid {
        grid-template-areas: "a a"
                             "a a"
                             "b b"
                             "c c"
                             "d e"
                             "f g"
                             "h j"
                             "k k"
                             "l l";
        grid-template-columns: 1fr 1fr;
    }
    .grid-item-lgray h2,
    .grid-item-green h2,
    .grid-item-gray  h2,
    .grid-item-lgray p,
    .grid-item-green p,
    .grid-item-gray  p {
        margin: 28px auto 0;
        text-align: center;
        max-width: none;
    }
    .grid-item-lgray h2,
    .grid-item-green h2,
    .grid-item-gray  h2 {
        margin-top: 0;
    }
    .grid-item-green a {
        margin: 35px auto 0;
    }
    .grid-item-gray  a {
        margin: 38px auto 0;
    }
    .grid-item-blue  p,
    .grid-item-blue  a {
        margin-left: 40px;
    }
    .grid-item-blue  h2 {
        margin-left: 42px;
    }
    .grid-item-bluebg {
        padding: 0;
    }
}
@media screen and (max-width: 870px) {
    h1 {
        margin: 0 auto 25px;
    }
    h1 + p {
        margin: 0 auto;
    }
}
@media screen and (max-width: 800px) {
    .grid {
        grid-template-areas: "a" "a" "b" "c" "d" "e" "f" "g" "h" "j" "k" "l";
        grid-template-columns: 1fr;
    }
    .grid-item-main {
        padding: 117px 15px 192px;
    }
    .grid-item-blue  h2,
    .grid-item-blue  p {
        margin: 28px auto 0;
        text-align: center;
        max-width: none;
    }
    .grid-item-blue  h2 {
        margin-top: 0;
    }
    .grid-item-blue  a {
        margin: 33px auto 0;
    }
    .grid-item-pic5 {
        height: 498px;
    }
}
@media screen and (max-width: 760px) {
    p {font-size: calc(18px + (36 - 18) * (100vw / 440 - 320px / 440));}
}
@media screen and (max-width: 610px) {
    h1 {font-size: calc(35px + (72 - 35) * (100vw / 290 - 320px / 290));}
}
@media screen and (max-width: 370px) {
    h1 + p {font-size: 27px;}
    .grid-item-blue  a,
    .grid-item-green a,
    .grid-item-gray  a {
        padding: 16px 0 16px 6px;
    }
}
@media screen and (max-width: 320px) {
    h1 {font-size: 35px;}
    p  {font-size: 18px;}
}
@media all and (-ms-high-contrast:none)
{
    .grid {
        display: -ms-grid;
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
    }
    .grid-item-main {
        -ms-grid-column: 1;
        -ms-grid-column-span: 4;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
    }
    .grid-item-red {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        -ms-grid-row: 3;
    }
    .grid-item-lgray {
        -ms-grid-column: 3;
        -ms-grid-column-span: 2;
        -ms-grid-row: 3;
    }
     .grid-item-pic1 {
        -ms-grid-column: 1;
        -ms-grid-row: 4;
    }
    .grid-item-pic2 {
        -ms-grid-column: 2;
        -ms-grid-row: 4;
    }
    .grid-item-pic3 {
        -ms-grid-column: 3;
        -ms-grid-row: 4;
    }
    .grid-item-pic4 {
        -ms-grid-column: 4;
        -ms-grid-row: 4;
    }
    .grid-item-blue-text {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        -ms-grid-row: 5;
    }
    .grid-item-pic5 {
        -ms-grid-column: 3;
        -ms-grid-row: 5;
    }
    .grid-item-bluebg {
        -ms-grid-column: 4;
        -ms-grid-row: 5;
    }
    .grid-item-green {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        -ms-grid-row: 6;
    }
    .grid-item-gray {
        -ms-grid-column: 3;
        -ms-grid-column-span: 2;
        -ms-grid-row: 6;
    }
}
@media screen and (max-width: 1307px) and (-ms-high-contrast:none) {
    .grid {
        -ms-grid-columns: 1fr 1fr;
    }
    .grid-item-lgray {
        -ms-grid-column: 1;
        -ms-grid-row: 4;
    }
     .grid-item-pic1 {
        -ms-grid-row: 5;
    }
    .grid-item-pic2 {
        -ms-grid-row: 5;
    }
    .grid-item-pic3 {
        -ms-grid-column: 1;
        -ms-grid-row: 6;
    }
    .grid-item-pic4 {
        -ms-grid-column: 2;
        -ms-grid-row: 6;
    }
    .grid-item-blue-text {
        -ms-grid-column-span: 1;
        -ms-grid-row: 7;
    }
    .grid-item-pic5 {
        -ms-grid-column: 2;
        -ms-grid-row: 7;
    }
    .grid-item-green {
        -ms-grid-row: 8;
    }
    .grid-item-gray {
        -ms-grid-column: 1;
        -ms-grid-row: 9;
    }
}
@media screen and (max-width: 800px) and (-ms-high-contrast:none) {
    .grid {
        -ms-grid-columns: 1fr;
    }
    .grid-item-pic2,
    .grid-item-pic4, 
    .grid-item-pic5 {
        -ms-grid-column: 1;
    }
    .grid-item-pic1      {-ms-grid-row: 5;}
    .grid-item-pic2      {-ms-grid-row: 6;}
    .grid-item-pic3      {-ms-grid-row: 7;}
    .grid-item-pic4      {-ms-grid-row: 8;}
    .grid-item-blue-text {-ms-grid-row: 9;}
    .grid-item-pic5      {-ms-grid-row: 10;}
    .grid-item-green     {-ms-grid-row: 11;}
    .grid-item-gray      {-ms-grid-row: 12;}
}
_::-moz-svg-foreign-content, :root .grid-item-pic1 {
    float: left;
}
_::-moz-svg-foreign-content, :root .grid-item-pic3 {
    float: left;
}
_::-moz-svg-foreign-content, :root .grid-item-blue-text {
    float: left;
}
_::-moz-svg-foreign-content, :root .grid-item-pic5 {
    height: 498px;
}
